.result-container{
    width: 100%;
    height: 650px;
    background-color:aquamarine;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}
.result-container h1{
    font-size: 40px;
}
button{
    margin: 5px;
}
button:hover{
    background-color: #e57350;
    cursor: pointer;
}